* {
  color: black;
  font-family: Inter;
  src: url(../Inter-Regular.ttf);
  box-sizing: border-box;
  font-size: 15px;
  margin: 0px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #b79693;
  color: white;
}

button:hover {
  background-color: #786361;
}

header img {
  width: 100px;
}

header {
  background-color: #fbefec;
}

.header-container {
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerlogo {
  display: flex;
  align-items: center;
}

.headerlogo img {
  filter: drop-shadow(0 0 15px #a5413f);
}

.headeritems {
  display: flex;
  gap: 40px;
}

.headeritems a {
  text-decoration: none;
}

section {
  margin-top: 30px;
  margin-bottom: 50px;
}

.main-container {
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.about {
  justify-content: center;
  display: flex;

  align-items: center;
  gap: 50px;
}

.about img {
  border-radius: 15px;
  max-width: 200px;
  filter: drop-shadow(0 0 5px #a5413f);
}

.about-desc h1,
p,
button {
  
  margin-bottom: 15px;
}

.about-desc {
  width: 60%;
}

footer {
  background-color: #fbefec;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.info h1 {
  font-size: 20px;
}

.info-pic .pic {
  width: 205px;
}

.info-pic {
  display: grid;
  column-gap: 4rem;
  grid-template-columns: auto auto auto;
  
}

.info-pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  max-width: 200px;
  filter: drop-shadow(0 0 5px #a5413f);
}

@media (max-width: 768px) {
  .info-pic {
    grid-template-columns: auto;
    row-gap: 2rem;
  }
  .action-content {
    flex-direction: column;
    gap: 30px;
  }
}

.quote {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 21px;
  border-radius: 15px;
  background-color: #f5e5e5;
}

.quote i {
  color: rgb(54, 47, 47);
  font-weight: lighter;
}

.quote p {
  color: rgb(54, 47, 47);
  text-align: right;
}

.action {
  display: flex;
  justify-content: center;
}

.action-content {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.action button {
  width: 100px;
}


